<div class="lg:ps-64">
  <header
    class="sticky top-0 inset-x-0 z-[48] w-full bg-white border-b text-sm border-border">
    <div class="h-[3.25rem] flex flex-wrap sm:justify-start sm:flex-nowrap">
      <nav class="flex basis-full items-center w-full mx-auto px-4 py-2">
        <div class="flex justify-between items-center w-full">
          <h4 hlmH4>{{ facade.$collection()?.title }}</h4>
          <button hlmBtn size="sm" class="text-nowrap gap-2" (click)="onAdd()">
            <hlm-icon size="sm" name="lucideCirclePlus"></hlm-icon>
            <span>Add Bookmark</span>
          </button>
        </div>
      </nav>
    </div>
  </header>
  <div class="p-4 flex flex-col gap-4">
    <input
      hlmInput
      class="bg-white"
      [formControl]="searchControl"
      placeholder="Search..." />
    <app-bookmark-list
      [items]="facade.$items()"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"></app-bookmark-list>
  </div>
</div>
