<div class="mb-6 flex justify-between">
  <pad-form-control>
    <pad-icon class="!stroke-[var(--pad-gray-500)]" padPrefix key="search-lg"></pad-icon>
    <input class="!w-[400px]" padInput type="text" />
  </pad-form-control>

  <!-- <div class="flex gap-3">
        <button
          [padMenuTrigger]="viewMenu"
          padMenuPosition="bottomRight"
          pad-button
          padColor="gray"
          padStyle="outline">
          <pad-icon
            class="!stroke-[var(--pad-gray-700)]"
            key="layers-three-01"></pad-icon>
          Views
        </button>

        <pad-menu #viewMenu>
          <ul>
            <li>
              <pad-checkbox>Image</pad-checkbox>
            </li>
            <li>
              <pad-checkbox>Title</pad-checkbox>
            </li>
            <li>
              <pad-checkbox>Description</pad-checkbox>
            </li>
            <li>
              <pad-checkbox>Domain</pad-checkbox>
            </li>
            <li>
              <pad-checkbox>Created Date</pad-checkbox>
            </li>
          </ul>
        </pad-menu>

        <button pad-button padColor="gray" padStyle="outline">
          <pad-icon class="!stroke-[var(--pad-gray-700)]" key="filter-lines"></pad-icon>
          Filters
        </button>
      </div> -->
</div>

<div class="flex flex-col items-center gap-4 w-full">
  <ng-container
    *ngIf="!loading && items.length > 0"
    [ngTemplateOutlet]="mainTemplate"
    [ngTemplateOutletContext]="{ view: { items } }"></ng-container>

  <ng-container *ngIf="loading" [ngTemplateOutlet]="loadingTemplate"></ng-container>

  <ng-container
    *ngIf="!loading && items.length === 0"
    [ngTemplateOutlet]="emptyTemplate"></ng-container>

  <ng-container
    *ngIf="!loading && error"
    [ngTemplateOutlet]="errorTemplate"
    [ngTemplateOutletContext]="{ view: { error } }"></ng-container>
</div>

<ng-template #mainTemplate let-v="view">
  <ng-container *ngFor="let item of v.items; trackById">
    <div class="relative flex gap-4 p-4 border border-gray-200 rounded-md">
      <div class="flex-none w-36 h-24 border border-gray-200 rounded overflow-hidden">
        <img
          class="object-cover w-full h-full"
          [src]="item.img"
          alt="bookmark background" />
      </div>
      <div class="flex flex-col">
        <a class="text-blue-600 hover:underline" [href]="item.url">
          <p class="text-base font-medium">{{ item.title }}</p>
        </a>
        <p class="text-sm text-pad-gray-900 mt-1">{{ item.description }}</p>
        <div class="flex items-center mt-1 text-pad-gray-700">
          <p class="text-xs">{{ item.domain }}</p>
          <p class="text-sm px-2 text-secondary">·</p>
          <p class="text-xs text-secondary">Create on {{ item.createdAt }}</p>
        </div>
      </div>

      <button
        pad-icon-button
        class="absolute right-4"
        padStyle="outline"
        padColor="gray"
        padSize="sm"
        (click)="edit.emit(item.id)">
        <pad-icon key="edit-5"></pad-icon>
      </button>
    </div>
  </ng-container>

  <div class="flex w-full justify-end gap-4">
    <button pad-button padStyle="basic" [disabled]="!isPrev" (click)="prev.next()">
      <pad-icon key="chevron-left" padSize="lg"></pad-icon>
      <p>Previous</p>
    </button>
    <button pad-button padStyle="basic" [disabled]="!isNext" (click)="next.next()">
      <p>Next</p>
      <pad-icon key="chevron-right" padSize="lg"></pad-icon>
    </button>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <app-bookmark-skeleton *repeat="10"></app-bookmark-skeleton>
</ng-template>

<ng-template #emptyTemplate>
  <div class="max-w-lg w-full h-full flex flex-col justify-center items-center py-8">
    <pad-featured-icon class="bg-white mb-4">
      <pad-icon key="search-lg"></pad-icon>
    </pad-featured-icon>
    <div class="flex flex-col text-center gap-1">
      <div class="text-pad-gray-900 text-base font-semibold">No bookmarks found</div>
      <div class="text-pad-gray-600 text-sm">
        Hiện chưa có bookmark nào được tạo. Vui lòng tới trang quản lý sản phẩm hoặc bấm
        vào nút tạo sản phẩm dưới đây
      </div>
    </div>
    <div class="flex gap-3 pt-8">
      <button pad-button>
        <pad-icon key="plus"></pad-icon>
        <p>Tạo sản phẩm</p>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #errorTemplate let-v="view">
  <div class="max-w-lg w-full h-full flex flex-col justify-center items-center pt-4">
    <pad-featured-icon class="bg-white mb-4">
      <pad-icon key="alert-circle"></pad-icon>
    </pad-featured-icon>
    <div class="flex flex-col gap-1 text-center">
      <div class="text-pad-gray-900 text-base font-semibold">
        "Truy xuất thông tin sản phẩm thất bại"
      </div>
      <div class="text-pad-gray-600 text-sm">
        <ng-container *ngIf="v.error">
          {{ v.error }}
        </ng-container>
        <ng-container *ngIf="!v.error">
          Rất tiết chúng tôi không thể truy xuất thông tin máy chủ trong thời điểm này.
          Vui lòng thử lại trong ít phút nữa.Nếu sự cố vấn tiếp diễn,vui lòng liên hệ với
          nhóm hỗ trợ để được tư vấn thêm
        </ng-container>
      </div>
    </div>
    <div class="flex gap-3 pt-8">
      <button padStyle="outline" padColor="gray" pad-button>
        <pad-icon key="refresh-cw-01"></pad-icon>
        <p>Thử lại</p>
      </button>

      <button pad-button>
        <p>Quản lý sản phẩm</p>
      </button>
    </div>
  </div>
</ng-template>
