<form
  autocomplete="off"
  class="relative"
  [formGroup]="form"
  (ngSubmit)="formSubmitSubject.next($event)">
  <div class="py-4">
    <div *ngIf="$error()" class="w-full p-2 top-0 bg-pad-error-50 rounded-md shadow-sm">
      <pad-error class="text-sm text-pad-error-700">{{ $error() }}</pad-error>
    </div>
  </div>
  <div [class.form-loading]="$loading()">
    <div class="flex flex-col gap-4 mb-6">
      <pad-form-field>
        <pad-label for="email">Email address</pad-label>
        <pad-form-control>
          <input
            padInput
            class="w-full shadow-sm"
            type="text"
            id="email"
            formControlName="email" />
          <pad-error *hasError="'required'"
            >Tên đăng nhập không được phép để trống</pad-error
          >
          <pad-error *hasError="'email'">Email không đúng định dạng</pad-error>
        </pad-form-control>
      </pad-form-field>

      <pad-form-field>
        <pad-label for="password">Password</pad-label>
        <pad-form-control>
          <input
            padInput
            class="w-full shadow-sm"
            type="password"
            id="password"
            formControlName="password" />
          <pad-error *hasError="'required'">Mật khẩu không được phép để trống</pad-error>
        </pad-form-control>
      </pad-form-field>
    </div>

    <div class="flex justify-between mb-6">
      <pad-checkbox padSize="sm">Remember me</pad-checkbox>

      <!-- <div class="flex gap-2 items-center">
          <input
            class="w-4 h-4 border border-gray-300 rounded"
            id="remember"
            type="checkbox" />
          <label for="remember" class="text-sm text-gray-800 font-semibold"
            >Remember me</label
          >
        </div> -->
      <p class="text-sm text-gray-500 font-medium underline">Forgot password?</p>
    </div>
  </div>

  <button pad-button type="submit" class="w-full mb-6">
    <p *ngIf="!$loading()">Log in</p>
    <div *ngIf="$loading()" class="button-loader"></div>
  </button>
</form>
