<div class="flex w-full items-center justify-center">
  <button
    hlmBtn
    variant="outline"
    size="sm"
    align="end"
    class="h-8 text-xs gap-2"
    [brnMenuTriggerFor]="menu">
    <hlm-icon size="sm" name="mixerHorizontalIcon"></hlm-icon>
    View
  </button>
</div>
<ng-template #menu>
  <hlm-menu class="w-40">
    <hlm-menu-label>Toggle Field</hlm-menu-label>
    <hlm-menu-separator />
    <hlm-menu-group>
      @for (item of $options(); track $index) {
        <button hlmMenuItem (click)="onToggle(item)">
          <hlm-icon
            name="lucideCheck"
            [class.invisible]="!$visibility()[item]"
            hlmMenuIcon />
          <span>{{ item }}</span>
        </button>
      }
    </hlm-menu-group>
  </hlm-menu>
</ng-template>
