<div [formGroup]="form" class="flex gap-2">
  <input
    hlmInput
    size="sm"
    class="bg-white h-8 w-36 lg:w-64"
    formControlName="keyword"
    placeholder="Search..." />

  <!-- <button hlmBtn variant="ghost" size="xs" class="border border-dashed px-3">
        <div class="flex gap-2 items-center text-xs">
          <hlm-icon name="lucideCirclePlus" size="sm"></hlm-icon> Tag
        </div>
      </button> -->

  <app-filter-select
    title="Tag"
    [options]="$tagOptions()"
    formControlName="tags"></app-filter-select>
  @if ($isHasFilter()) {
    <button hlmBtn variant="ghost" class="bg-white h-8 px-2 lg:px-3" (click)="onReset()">
      Reset <hlm-icon name="lucideX" class="ml-2 h-4 w-4"></hlm-icon>
    </button>
  }
</div>
