<div [formGroup]="form" class="flex gap-2">
  <input
    hlmInput
    size="sm"
    class="bg-white"
    formControlName="keyword"
    placeholder="Search..." />

  <!-- <button hlmBtn variant="ghost" size="xs" class="border border-dashed px-3">
        <div class="flex gap-2 items-center text-xs">
          <hlm-icon name="lucideCirclePlus" size="sm"></hlm-icon> Tag
        </div>
      </button> -->

  <button
    hlmBtn
    variant="outline"
    size="sm"
    class="border border-dashed px-4 bg-white shadow-sm">
    <div class="flex gap-2 items-center">
      <hlm-icon name="lucideCirclePlus" size="sm"></hlm-icon> Tag
    </div>
  </button>
</div>
