<div class="xl:w-[43rem]">
  <pad-dialog-header
    (close)="onClose()"
    title="Add your bookmark"
    subTitle="Create new bookmark with link and edit metadata"
    iconKey="bookmark"></pad-dialog-header>

  <form class="relative w-full py-5 px-6 flex flex-col gap-4" [formGroup]="bookmarkForm">
    <pad-form-field class="flex !flex-row !gap-2.5">
      <pad-label required for="url">URL</pad-label>
      <pad-form-control class="!flex !gap-0">
        <input
          padInput
          class="!rounded-r-none"
          id="url"
          formControlName="url"
          type="text"
          placeholder="Enter an URL" />
        <pad-icon padPrefix key="link-01"></pad-icon>
        <button
          pad-button
          padStyle="outline"
          padColor="gray"
          (click)="getMetadata()"
          class="!border-l-0 !rounded-l-none">
          <!-- <pad-icon key="download-04"></pad-icon> -->
          <p>Get</p>
        </button>
      </pad-form-control>
    </pad-form-field>

    <div class="border-t border-[#f4f4f4]"></div>

    <div class="metadata-from flex flex-col gap-4">
      <pad-form-field>
        <pad-label for="title">Title</pad-label>
        <pad-form-control>
          <input padInput id="title" type="text" formControlName="title" />
        </pad-form-control>
      </pad-form-field>

      <pad-form-field>
        <pad-label for="domain">Domain</pad-label>
        <pad-form-control>
          <input padInput id="domain" type="text" formControlName="domain" />
        </pad-form-control>
      </pad-form-field>

      <pad-form-field>
        <pad-label for="description">Description</pad-label>
        <pad-form-control>
          <textarea
            padInput
            id="description"
            type="text"
            formControlName="description"
            rows="4"></textarea>
        </pad-form-control>
      </pad-form-field>
    </div>
    <app-loading
      *ngIf="$loading()"
      class="absolute w-full h-full top-0 left-0"></app-loading>

    <!-- <pad-form-wrapper [formGroup]="bookmarkForm">
    <div class="flex gap-2 relative">
      <pad-form-field class="grow">
        <input
          class="!pl-10"
          padInput
          formControlName="link"
          placeholder="Enter URL"
          type="text" />

      </pad-form-field>
      <button
        (click)="getMetadata()"
        class="flex-none py-2.5 px-5 text-white bg-[#009ef7] hover:bg-[#0095e8] text-sm rounded-md font-medium">
        Get metadata
      </button>

      <div class="absolute left-3 top-[11px] text-[#7E8299] w-5 h-5">
        <span class="svg-icon svg-icon-muted svg-icon-2hx w-5 h-5"
          ><svg
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.2166 8.50002L10.5166 7.80007C10.1166 7.40007 10.1166 6.80005 10.5166 6.40005L13.4166 3.50002C15.5166 1.40002 18.9166 1.50005 20.8166 3.90005C22.5166 5.90005 22.2166 8.90007 20.3166 10.8001L17.5166 13.6C17.1166 14 16.5166 14 16.1166 13.6L15.4166 12.9C15.0166 12.5 15.0166 11.9 15.4166 11.5L18.3166 8.6C19.2166 7.7 19.1166 6.30002 18.0166 5.50002C17.2166 4.90002 16.0166 5.10007 15.3166 5.80007L12.4166 8.69997C12.2166 8.89997 11.6166 8.90002 11.2166 8.50002ZM11.2166 15.6L8.51659 18.3001C7.81659 19.0001 6.71658 19.2 5.81658 18.6C4.81658 17.9 4.71659 16.4 5.51659 15.5L8.31658 12.7C8.71658 12.3 8.71658 11.7001 8.31658 11.3001L7.6166 10.6C7.2166 10.2 6.6166 10.2 6.2166 10.6L3.6166 13.2C1.7166 15.1 1.4166 18.1 3.1166 20.1C5.0166 22.4 8.51659 22.5 10.5166 20.5L13.3166 17.7C13.7166 17.3 13.7166 16.7001 13.3166 16.3001L12.6166 15.6C12.3166 15.2 11.6166 15.2 11.2166 15.6Z"
              fill="currentColor" />
            <path
              opacity="0.3"
              d="M5.0166 9L2.81659 8.40002C2.31659 8.30002 2.0166 7.79995 2.1166 7.19995L2.31659 5.90002C2.41659 5.20002 3.21659 4.89995 3.81659 5.19995L6.0166 6.40002C6.4166 6.60002 6.6166 7.09998 6.5166 7.59998L6.31659 8.30005C6.11659 8.80005 5.5166 9.1 5.0166 9ZM8.41659 5.69995H8.6166C9.1166 5.69995 9.5166 5.30005 9.5166 4.80005L9.6166 3.09998C9.6166 2.49998 9.2166 2 8.5166 2H7.81659C7.21659 2 6.71659 2.59995 6.91659 3.19995L7.31659 4.90002C7.41659 5.40002 7.91659 5.69995 8.41659 5.69995ZM14.6166 18.2L15.1166 21.3C15.2166 21.8 15.7166 22.2 16.2166 22L17.6166 21.6C18.1166 21.4 18.4166 20.8 18.1166 20.3L16.7166 17.5C16.5166 17.1 16.1166 16.9 15.7166 17L15.2166 17.1C14.8166 17.3 14.5166 17.7 14.6166 18.2ZM18.4166 16.3L19.8166 17.2C20.2166 17.5 20.8166 17.3 21.0166 16.8L21.3166 15.9C21.5166 15.4 21.1166 14.8 20.5166 14.8H18.8166C18.0166 14.8 17.7166 15.9 18.4166 16.3Z"
              fill="currentColor" />
          </svg>
        </span>
      </div>
    </div>

    <div class="border-t border-[#f4f4f4] my-4"></div>

    <div class="metadata flex flex-col gap-4 mt-4">
      <pad-form-field>
        <pad-label>Title</pad-label>
        <input padInput formControlName="title" type="text" />
      </pad-form-field>

      <pad-form-field>
        <pad-label>Description</pad-label>
        <input padInput formControlName="description" type="text" />
      </pad-form-field>

      <pad-form-field>
        <pad-label>Domain</pad-label>
        <input padInput formControlName="domain" type="text" />
      </pad-form-field>
    </div>
  </pad-form-wrapper> -->
  </form>

  <pad-dialog-footer
    (close)="onClose()"
    (save)="onSave()"
    saveText="Add bookmark"></pad-dialog-footer>
</div>
