<form [formGroup]="form" (ngSubmit)="onSave()" class="flex flex-col gap-4">
  <hlm-dialog-header>
    <h3 hlmDialogTitle>{{ data ? "Update" : "Add" }} Bookmark</h3>
    <p hlmDialogDescription>
      Please fill in the url to get metadata and add your bookmarks.
    </p>
  </hlm-dialog-header>
  <div class="grid gap-4 py-4">
    <div class="space-y-1">
      <label hlmLabel for="url">Url</label>
      <input
        hlmInput
        class="w-full focus-visible:ring-1 focus-visible:ring-offset-0"
        size="sm"
        formControlName="url"
        id="url"
        type="text"
        placeholder="Https://example.com"
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off" />
      <div *ngIf="url.invalid && (url.dirty || url.touched)">
        <div *ngIf="url.errors?.['required']" hlmInputError>Title is required.</div>
      </div>
    </div>
    <div class="space-y-1">
      <!-- <brn-popover
        [state]="state()"
        (stateChanged)="stateChanged($event)"
        sideOffset="5"
        closeDelay="100">
        <button
          class="w-[200px] justify-between"
          id="edit-profile"
          variant="outline"
          brnPopoverTrigger
          hlmBtn>
          {{ currentFramework() ? currentFramework().label : "Select framework..." }}
          <hlm-icon size="sm" name="lucideChevronsUpDown" />
        </button>
        <brn-cmd *brnPopoverContent="let ctx" hlmPopoverContent hlm class="p-0 w-[200px]">
          <hlm-cmd-input-wrapper>
            <hlm-icon name="lucideSearch" />
            <input placeholder="Search framework..." brnCmdInput hlm />
          </hlm-cmd-input-wrapper>
          <div *brnCmdEmpty hlmCmdEmpty>No results found.</div>
          <brn-cmd-list hlm>
            <brn-cmd-group hlm>
              <button
                *ngFor="let framework of frameworks"
                brnCmdItem
                [value]="framework.value"
                (selected)="commandSelected(framework)"
                hlm>
                <hlm-icon
                  [class.opacity-0]="currentFramework()?.value !== framework.value"
                  name="lucideCheck"
                  hlmCmdIcon />
                {{ framework.label }}
              </button>
            </brn-cmd-group>
          </brn-cmd-list>
        </brn-cmd>
      </brn-popover> -->
    </div>
  </div>
  <hlm-dialog-footer>
    <button hlmBtn type="button" variant="outline" (click)="onClose()">Close</button>
    <button hlmBtn type="submit" (click)="onSave()">Save changes</button>
  </hlm-dialog-footer>
</form>
