::ng-deep .dialolg {
  padding: 0;
  @apply rounded-md shadow-none;
}

.pad-icon {
  stroke: var(--pad-gray-500);
}

.metadata-from ::ng-deep .pad-form-field,
::ng-deep .pad-form-field {
  flex-direction: row;
  .pad-label {
    width: 25%;
    flex: none;
  }

  .pad-form-control {
    flex-grow: 1;
  }
}


