<!-- <div class="w-screen h-screen bg-[#151521]">
  <div class="flex w-full h-full justify-center items-center">
    <div class="rounded-xl shadow-xl bg-white p-6 w-96">
      <div class="flex flex-col gap mb-6">
        <h4 class="text-xl font-semibold">Log in</h4>
        <p class="text-base text-gray-600">Welcome back! Please enter your details.</p>
      </div>

      <div class="flex flex-col">
        <pad-form-field>
          <pad-label for="email">Email address</pad-label>
          <pad-form-control>
            <input name="email" padInput type="text" />
          </pad-form-control>
        </pad-form-field>

        <pad-form-field>
          <pad-label for="password">Password</pad-label>
          <pad-form-control>
            <input name="password" padInput type="text" />
          </pad-form-control>
        </pad-form-field>
      </div>
    </div>
  </div>
</div> -->

<!-- <pad-form-wrapper class="p-6 gap-3" [formGroup]="loginForm" (submitted)="onSubmit()">
  <div class="flex flex-col gap-3 p-5 w-96">
    <pad-form-field>
      <pad-label>Username</pad-label>
      <input padInput [formControl]="loginForm.controls.email" type="text" />
    </pad-form-field>

    <pad-form-field>
      <pad-label>Password</pad-label>
      <input padInput [formControl]="loginForm.controls.password" type="password" />
    </pad-form-field>


    <button pad-button>Login</button>
  </div>
  <ng-container *ngIf="vm$ | async as vm">
    {{ vm }}
  </ng-container>
</pad-form-wrapper> -->

<div class="w-screen h-screen bg-[#151521]">
  <div class="flex w-full h-full justify-center items-center">
    <div class="rounded-xl shadow-xl bg-white p-6 box-content w-[360px]">
      <div class="mb-4">
        <img class="w-14 w-14" src="assets/images/logo.png" alt="logo" />
      </div>

      <div class="flex flex-col gap-1">
        <h4 class="text-xl font-semibold">Log in</h4>
        <p class="text-base text-gray-600">Welcome back! Please enter your details.</p>
      </div>

      <app-login-form></app-login-form>
      <div class="mb-6 flex items-center justify-center gap-1">
        <p class="text-sm text-gray-500 font-medium">Don’t have an account?</p>
        <p class="text-sm text-gray-800 font-semibold underline">Sign up</p>
      </div>
    </div>
  </div>
</div>
