<div class="flex gap-4 p-4 border border-gray-200 rounded-md">
  <div
    class="flex-none skeleton w-36 h-24 border border-gray-200 rounded overflow-hidden"></div>
  <div class="grow flex flex-col">
    <p class="skeleton-text-base !w-1/2"></p>
    <div class="mt-1">
      <p class="skeleton-text-sm"></p>
      <p class="skeleton-text-sm"></p>
    </div>
    <div class="flex items-center gap-4 mt-1 text-pad-gray-700">
      <p class="skeleton-text-xs !w-24"></p>

      <p class="skeleton-text-xs !w-48 text-secondary"></p>
    </div>
  </div>
</div>
