<button hlmCard hlmBtn variant="ghost" class="justify-start h-auto p-3 group relative">
  <div class="flex flex-col gap-2 justify-start w-full text-start">
    <div class="flex items-center gap-2">
      <hlm-skeleton class="w-5 h-5 rounded-full"></hlm-skeleton>

      <hlm-skeleton class="w-52 h-4"></hlm-skeleton>
    </div>
    <p class="text-xs font-normal text-muted-foreground line-clamp-2">
      <hlm-skeleton class="w-80 h-4"></hlm-skeleton>
      <hlm-skeleton class="w-72 h-4"></hlm-skeleton>
    </p>
    <div class="text-xs font-normal text-muted-foreground">
      <hlm-skeleton class="w-36 h-4"></hlm-skeleton>
    </div>
  </div>
</button>
