@mixin skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton {
  @include skeleton;
}

:host {
  width: 100%;
}
.skeleton-text {
  @include skeleton;
  width: 100%;
  border-radius: 0.25rem;

  &-xs {
    @extend .skeleton-text;
    height: 0.75rem;
    margin: calc((1.25rem - 0.75rem) / 2) 0;
  }

  &-sm {
    @extend .skeleton-text;
    height: 0.875rem;
    margin: calc((1.25rem - 0.875rem) / 2) 0;
  }

  &-base {
    @extend .skeleton-text;
    height: 1rem;
    margin: calc((1.5rem - 1rem) / 2) 0;
  }
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-footer {
  width: 30%;
}
