<form [formGroup]="form" (ngSubmit)="onSave()" class="flex flex-col gap-4">
  <hlm-dialog-header>
    <h3 hlmDialogTitle>{{ data ? "Update" : "Add" }} Bookmark</h3>
    <p hlmDialogDescription>
      Please fill in the url to get metadata and add your bookmarks.
    </p>
  </hlm-dialog-header>
  <div class="grid gap-4 py-4">
    <div class="space-y-1">
      <label hlmLabel for="url">Url</label>
      <input
        hlmInput
        class="w-full focus-visible:ring-1 focus-visible:ring-offset-0"
        size="sm"
        formControlName="url"
        id="url"
        type="text"
        placeholder="Https://example.com"
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off" />
      <div *ngIf="url.invalid && (url.dirty || url.touched)">
        <div *ngIf="url.errors?.['required']" hlmInputError>Title is required.</div>
      </div>
    </div>
    <div class="space-y-1">
      <label hlmLabel for="url">Tags</label>

      <app-bookmark-tag-select
        formControlName="tags"
        [options]="$tags()"
        (onSearch)="onTagSearch($event)"
        (onCreate)="onTagCreate($event)"></app-bookmark-tag-select>
    </div>
  </div>
  <hlm-dialog-footer>
    <button hlmBtn type="button" variant="outline" (click)="onClose()">Close</button>
    <button hlmBtn type="submit" (click)="onSave()">Save changes</button>
  </hlm-dialog-footer>
</form>
