<form [formGroup]="form" (ngSubmit)="onSave()" class="flex flex-col gap-4">
  <hlm-dialog-header>
    <h3 hlmDialogTitle>{{ data ? "Update" : "Add" }} Bookmark</h3>
    <p hlmDialogDescription>
      Please fill in the url to get metadata and add your bookmarks.
    </p>
  </hlm-dialog-header>
  <div class="grid gap-4 py-4">
    <div class="space-y-1">
      <label hlmLabel for="url">Url</label>
      <div class="flex gap-2">
        <input
          hlmInput
          class="w-full focus-visible:ring-1 focus-visible:ring-offset-0"
          size="sm"
          formControlName="url"
          id="url"
          type="text"
          placeholder="Https://example.com"
          autocapitalize="none"
          autocomplete="off"
          autocorrect="off" />

        <button
          hlmBtn
          variant="outline"
          class="flex-none h-9 w-9 p-0"
          (click)="onGetMetadata()">
          <hlm-icon
            [class.animate-spin]="facade.$loading()"
            name="lucideRotateCw"
            class="w-5 h-5"
            size="sm"></hlm-icon>
        </button>
      </div>
      <div *ngIf="url.invalid && (url.dirty || url.touched)">
        <div *ngIf="url.errors?.['required']" hlmInputError>Url is required.</div>
      </div>
    </div>

    <div class="space-y-1">
      <label hlmLabel for="title">Title</label>
      <input
        hlmInput
        class="w-full focus-visible:ring-1 focus-visible:ring-offset-0"
        size="sm"
        formControlName="title"
        id="title"
        type="text"
        autocapitalize="none"
        autocomplete="off"
        autocorrect="off" />
      <div *ngIf="title.invalid && (title.dirty || title.touched)">
        <div *ngIf="title.errors?.['required']" hlmInputError>Title is required.</div>
      </div>
    </div>

    <div class="space-y-1">
      <label hlmLabel for="url">Tags</label>

      <app-bookmark-tag-select
        formControlName="tags"
        [options]="$tags()"
        (onSearch)="onTagSearch($event)"
        (onCreate)="onTagCreate($event)"></app-bookmark-tag-select>
    </div>

    <div class="space-y-1">
      <label hlmLabel for="note">Note</label>
      <textarea
        hlmInput
        class="w-full focus-visible:ring-1 focus-visible:ring-offset-0 min-h-[80px] py-2"
        size="sm"
        formControlName="note"
        id="note"
        type="text"></textarea>
    </div>
  </div>
  <hlm-dialog-footer>
    <button hlmBtn type="button" variant="outline" (click)="onClose()">Close</button>
    <button hlmBtn type="submit" (click)="onSave()">Save changes</button>
  </hlm-dialog-footer>
</form>
