<button
  hlmBtn
  hlmCard
  variant="ghost"
  class="justify-start h-auto w-full p-3 group relative">
  <div class="flex flex-col gap-2 justify-start w-full text-start">
    <div class="flex items-center gap-2">
      @if ($data().favicon) {
        <img class="w-5 h-5 object-cover" [src]="$data().favicon" alt="favicon" />
      }
      <p hlmSmall class="font-semibold">{{ $data().title }}</p>
    </div>
    <p class="text-xs font-normal text-muted-foreground line-clamp-2">
      {{ $data().description }}
    </p>
    <div class="text-xs font-normal text-muted-foreground">
      {{ $data().domain }} - Update at {{ $data().updateAt | date }}
    </div>
  </div>
</button>
