:host {
  display: block;
  width: 100%;
  height: 100vh;
  // background-color: var(--pad-gray-50);
}
::ng-deep .pad-menu-panel {
  @apply shadow-sm rounded-xl mt-2;
  border: 1px solid var(--pad-gray-200);
}
