<div class="p-8">
  <div class="flex justify-between mb-6">
    <div>
      <h2 class="text-3xl leading-9.5 font-semibold text-[var(--pad-gray-900)]">
        Bookmarks
      </h2>
      <p class="text-base text-[var(--pad-gray-600)]">View and Manage your bookmark</p>
    </div>
    <div class="flex gap-2">
      <button class="h-fit" pad-button padSize="md" (click)="onOpenAddBookmarkDialog()">
        <pad-icon class="flex-none" key="plus" padSize="lg"></pad-icon>
        <p>Add bookmark</p>
      </button>
    </div>
  </div>

  <div class="border-b border-[var(--pad-gray-200)] w-full mb-8"></div>

  <app-bookmark-list
    [items]="bookmarkStore.$entities()"
    [loading]="bookmarkStore.$loading()"
    [error]="bookmarkStore.$error()"
    (edit)="onOpenUpdateBookDialog($event)"></app-bookmark-list>
</div>
